
.hero-section {
  width: 100%;
  height: 700px;

  background: linear-gradient(
    110deg,
    #030303 0%,
    #0b0804 20%,
    #241505 40%,
    #70480e 62%,
    #c18a22 82%,
    #efbd45 100%
  );

  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: gold;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: bold;
  text-align: center;
}

/* Tablet */
@media (max-width: 900px) {
  .hero-section {
    height: 500px;
  }

  .text {
    font-size: clamp(1.2rem, 5vw, 3rem);
    top: 45%;
  }
}

/* Phone */
@media (max-width: 500px) {
  .hero-section {
    height: 300px;
  }

  .text {
    font-size: clamp(1rem, 7vw, 2rem);
    top: 35%;
  }
}

