.featured {
  background-color: black;
  color: gold;
  padding: 40px 20px;
}

.featured h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  /* border-bottom: 2px solid gold; */
  display: inline-block;
  padding-bottom: 5px;
}
.loading {
  text-align: center;
  color: gold;
  font-size: 18px;
  padding: 40px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0.5; }
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center; /* centers items in their cell */
}

/* CARD */
.product-card {
  background-color: #111;
  border: 1px solid gold;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px gold;
}

/* IMAGE */
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* TEXT */
.product-card h4 {
  margin: 10px 0 5px;
  color: gold;
}

.product-card p {
  color: white;
  font-weight: bold;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card img {
    height: 150px;
  }
}